{% extends 'base.html' %}
{% block title %}{{ tribe.tribe_name }}{% endblock %}

{% block body %}
<div class="container-fluid">
    {% if tribe.image %}
        <img src="{{ tribe.image.url }}" width="240">
    {% endif %}
    <h1>{{ tribe.tribe_name }}</h1>
    <p><b>Chieftain: </b> {{ tribe.chieftain }}</p>
    <p><b>Created on: </b> {{ tribe.created }}</p>

    <h3> Events </h3>
    <ul>
        {% for event in tribe.event_set.all %}
            <li>{{ event.event_date }} - {{ event.event_name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}